<<<<<<< HEAD
.bg-blue {
    background: lightblue;
=======
.nav-logo-height   {
    height: 80px;
    width: auto;
}
.nav-link   {
    font-size: 1.5rem;
>>>>>>> Pijaus
}
.footer-design  {
    background-color: red;
    height: 10vh;
}